{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
  <div class="col container" style="padding-top:20px">
    <div class="row">
      <div class="col-12 text-center" style="color:black;">
        <h2>Create Account</h2>
        <div class="col-8 offset-2">
          <hr/>  
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-2" style="color: black;"> 
          <form method="POST" action="{% url 'add_library_customer' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }} 
          <div class="row">
            <button type="submit" class="btn btn-success mt-3">
              Add new user
              </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
