{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="col" style="padding-top:20px">
    <div class="row">
        <div class="col-12 text-center" style="color:black;">
            <h2>User Account</h2>
            <div class="col-8 offset-2">
                <hr/>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Left Column - User Details -->
        <div class="col-6" style="color: black;">
            <div class="row">
                <h4 class="text-center">User Details</h4>
                <hr/>
            </div>
            
            <!-- Edit form -->
            <form method="POST" action="{% url 'edit_library_customer' user_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <!-- Button container -->
                <div class="d-flex gap-3 justify-content-center align-items-center mt-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <!-- Delete form as part of the same flex container -->
                    <form method="POST" action="{% url 'delete_library_customer' user_id %}" class="d-inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Customer</button>
                    </form>
                </div>
            </form>
        </div>

        <!-- Right Column - Loan History -->
        <div class="col-6" style="color: black;">
            <h4 class="text-center">Loan History</h4>
            <hr/>
            <div id="loan-history"></div>
        </div>
    </div>
</div>{% endblock %}

{% block postloadjs %}
{% endblock %}
