{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="col container" style="padding-top:20px">
    <div class="row">
        <div class="col-12 text-center" style="color:black;">
            <h2>Customer Accounts</h2>
            <div class="col-8 offset-2">
                <hr/>  
            </div>
        </div>
    </div>
    <div class="col container">
        <form id="search-form" method="GET" action="">
            <div class="input-group">
                <input class="form-control border border-black rounded-0" type="text" name="q" id="search-input" placeholder="Search name or ID number">
                <div class="input-group-append">
                    <button class="btn btn-black border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <div id="search-results" style="color:black;"></div>    
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission

        const searchTerm = document.getElementById('search-input').value;

        fetch(`/users/search/?q=${encodeURIComponent(searchTerm)}`)
            .then(response => response.json())
            .then(data => {
                const resultsDiv = document.getElementById('search-results');
                resultsDiv.innerHTML = ''; // Clear previous results

                if (data.length > 0) {
                    data.forEach(user => {
                        const userDiv = document.createElement('div');
                        
                        // Create a link to the user account page
                        const userLink = document.createElement('a');
                        userLink.href = `/users/edit/${user.user_id}/`; // Using the user_id to link to the account details
                        userLink.textContent = `${user.first_name} ${user.last_name} - ${user.user_id} - ${user.email_address}`;
                        
                        // Append the link to the userDiv
                        userDiv.appendChild(userLink);
                        resultsDiv.appendChild(userDiv);
                    });
                } else {
                    resultsDiv.textContent = 'No users found.';
                }
            })
            .catch(error => console.error('Error:', error));
    });
</script>{% endblock %}

