{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
  <div>
    <form method="GET" action="">
      <div class="input-group">
        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search the catalogue">
        <div class="input-group-append">
          <button class="form e-control btn btn-black border border-black rounded-0" type="submit">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
          </button>
        </div>
      </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
