{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
  <div class="col container" style="padding-top:20px">
    <div class="row">
      <div class="col" style="color:black">
        <ul>
        <hr/>
          {% for item in catalogue %}
            <div class="row" style="padding-right: 20px; padding-bottom:0px;">
            <p style="margin-bottom: 5px;"><a href="item_details.html">{{ item.Title }}</a></p>
              {% if item.Author != "nan" %} 
                <p class="text-muted">
                  {{ item.Author }}
                </p> 
              {% endif %}
              <p class="small italic text-muted">{{ item.Publisher }} {{ item.PublicationYear }}</p>
              <p class="small italic text-muted"> No. of items: {{ item.ItemCount }}</p>
            </div>
            <hr/>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}
